@font-face {
  font-family: "iconfont"; /* Project id 5158199 */
  src:
    url("//at.alicdn.com/t/c/font_5158199_98tqhhqyzep.woff2?t=1775821985095") format("woff2"),
    url("//at.alicdn.com/t/c/font_5158199_98tqhhqyzep.woff?t=1775821985095") format("woff"),
    url("//at.alicdn.com/t/c/font_5158199_98tqhhqyzep.ttf?t=1775821985095") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzuotai:before {
  content: "\e66c";
}

.icon-dingdan:before {
  content: "\e606";
}

.icon-shouyi:before {
  content: "\e603";
}

.icon-wode:before {
  content: "\e674";
}

.icon-fenlei:before {
  content: "\e612";
}

.icon-xiazai44:before {
  content: "\e619";
}
